---
layout: secondary
---
<h1>Templatus Secondus</h1>
<p>Not much different from primary but trying.</p>
<h2>Palette</h2>
<h3>Primary</h3>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette sec-palette--darker-cool-blue">
    <p>Darker Cool-blue</p>
    <p>#071D3F</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--dark-cool-blue">
    <p>Dark Cool-blue</p>
    <p>#18335C</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--cool-blue">
    <p>Cool-blue</p>
    <p>#2F4A75</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--light-cool-blue">
    <p>Light Cool-blue</p>
    <p>#4F6890</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--lighter-cool-blue">
    <p>Lighter Cool-blue</p>
    <p>#798EAE</p>
  </div>
</div>
<h3>Secondary</h3>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette sec-palette--darker-tan">
    <p>Darker Tan</p>
    <p>#603E02</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--dark-tan">
    <p>Dark Tan</p>
    <p>#8B621A</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--tan">
    <p>Tan</p>
    <p>#B1873C</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--light-tan">
    <p>Light Tan</p>
    <p>#DAB36D</p>
  </div>
  <div class="jsc-grid__item jsc-palette sec-palette--lighter-tan">
    <p>Lighter Tan</p>
    <p>#FFE0AA</p>
  </div>
</div>
{% include components/buttons.html %}
{% include components/notifications.html %}
{% include components/tabs.html %}
