---
layout: tertiary
---
<h1>Templatus Tertiarius</h1>
<p>Time to get interesting.</p>
<h2>Palette</h2>
<h3>Primary</h3>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette ter-palette--lighter-grape">
    <p>Lighter Grape</p>
    <p>#E397B1</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--light-grape">
    <p>Light Grape</p>
    <p>#C16081</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--grape">
    <p>Grape</p>
    <p>#9C3558</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--dark-grape">
    <p>Dark Grape</p>
    <p>#7B1739</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--darker-grape">
    <p>Darker Grape</p>
    <p>#54021E</p>
  </div>
</div>
<h3>Secondary</h3>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette ter-palette--lighter-forest">
    <p>Lighter Forest</p>
    <p>#7AB699</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--light-forest">
    <p>Light Forest</p>
    <p>#4C9873</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--forest">
    <p>Forest</p>
    <p>#2A7B54</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--dark-forest">
    <p>Dark Forest</p>
    <p>#12613B</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--deep-forest">
    <p>Deep Forest</p>
    <p>#014323</p>
  </div>
</div>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette ter-palette--lighter-lime">
    <p>Lighter Lime</p>
    <p>#EBF8A5</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--light-lime">
    <p>Light Lime</p>
    <p>#C4D46A</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--lime">
    <p>Lime</p>
    <p>#9BAC3A</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--dark-lime">
    <p>Dark Lime</p>
    <p>#77871A</p>
  </div>
  <div class="jsc-grid__item jsc-palette ter-palette--darker-lime">
    <p>Darker Lime</p>
    <p>#4F5D02</p>
  </div>
</div>

{% include components/buttons.html %}
{% include components/notifications.html %}
{% include components/tabs.html %}
