---
layout: default
---
<h1>Templatus Primarius</h1>
<p>Shared default upon which all things are based.</p>
<h2>Palette</h2>
<h3>Neutral</h3>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette jsc-palette--pure-white">
    <p>Pure White</p>
    <p>#FFF</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--ultra-light-grey">
    <p>Ultra-light Grey</p>
    <p>#E5E5E5</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--lighter-grey">
    <p>Lighter Grey</p>
    <p>#CCC</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--light-grey">
    <p>Light Grey</p>
    <p>#B2B2B2</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--mid-grey">
    <p>Mid Grey</p>
    <p>#808080</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--darkish-grey">
    <p>Darkish Grey</p>
    <p>#737373</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--dark-grey">
    <p>Dark Grey</p>
    <p>#4D4D4D</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--darker-grey">
    <p>Darker Grey</p>
    <p>#262626</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--pure-black">
    <p>Pure Black</p>
    <p>#000</p>
  </div>
</div>
<h3>Accent</h3>
<div class="jsc-grid__wrapper">
  <div class="jsc-grid__item jsc-palette jsc-palette--light-mint">
    <p>Light Mint</p>
    <p>#99E6CC</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--mint">
    <p>Mint</p>
    <p>#28765C</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--dark-mint">
    <p>Dark Mint</p>
    <p>#01402B</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--light-corn">
    <p>Light Corn</p>
    <p>#FFFBAA</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--corn">
    <p>Corn</p>
    <p>#B1AB3C</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--dark-corn">
    <p>Dark Corn</p>
    <p>#605B02</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--light-rose">
    <p>Light Rose</p>
    <p>#FAA</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--rose">
    <p>Rose</p>
    <p>#B13C3C</p>
  </div>
  <div class="jsc-grid__item jsc-palette jsc-palette--dark-rose">
    <p>Dark Rose</p>
    <p>#600202</p>
  </div>
</div>
{% include components/buttons.html %}
{% include components/notifications.html %}
{% include components/tabs.html %}